.total-money-wrapper {
  margin: 0 -24px;
  margin-top: 60px;
  max-width: 364px;
  height: 100px;
  padding: 20px 24px;
  border: 1px solid var(--color-grey-2);
  border-radius: 8px;
  color: var(--color-grey-4);
}

.total-money-wrapper p {
  font-weight: bold;
}

.total-money-wrapper > span {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.total-money-wrapper > span p:nth-child(2) {
  color: var(--color-brand-1);
}

.total-money-wrapper small {
  color: var(--color-grey-3);
}

@media (max-width: 950px) {
  .total-money-wrapper{
    height: fit-content;
  }
}